MOCK_SERVICES=true
ELEVENLABS_API_KEY=
TRANSLATION_API_KEY=
TRANSLATION_API_URL=
SPEECH_TO_TEXT_API_URL=
SPEECH_TO_TEXT_API_KEY=
DATABASE_URL=
REDIS_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
